@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

/* BANNER */

body, html {
  background: rgb(180,237,255);
  background: linear-gradient(45deg, rgba(180,237,255,1) 15%, rgba(65,196,255,1) 85%);
}

.reusable-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex !important;
  align-items: center !important;
  justify-content: left !important;
}

.user > img {
  margin-right: 0.75rem;
}

.userCard {
  width: 70rem;
  height: 40rem;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.445);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.43);
  background-color: #fff;
}

.color-card {
  background-color: #343a40;
  width: 350px;
  color: #FFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 3px;
  margin-left: -3px;
  padding-bottom: 1px;
  margin-bottom: -0.4px
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 60px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 70px;
  margin-bottom: 2rem;
  margin: 0px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 69%;
}

.info-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(45deg, rgba(100,218,255,1) 40%, rgba(9,179,255,1) 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-boxes {
  width: 90%;
}

.titles {
  margin: 30px 0 5px 0;
  font-weight: bold;
  border-bottom: 1px solid rgb(223, 223, 223);
}

/* LOGIN COMPONENT */

.input {
  border-radius: 40px;
  padding: 0.7rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  background-color: #cfcfcf;
  width: 230px;
  height: 46px;
}

.buttons-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-ta {
  resize: none;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding: 30px 0;
}

.check-area, .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-area > p, .button > p, .chart-component-column > p {
  padding: 10px;
  margin-bottom: 0px;
}

.buttons  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 1000px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.43);
  background-color: #fff;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credentials > div {
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.logo {
  width: 50%;
  height: 50%;
}

/* LOGO */

.image {
  width: 320px;
  height: 320px;
}

.carousel-shadow {
  box-shadow: 0px 15px 50px -5px rgba(0, 0, 0, 0.5);
}

.card {
  margin-top: 5rem;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fs-25 {
  font-size: 25px;
}

.fs-40 {
  font-size: 40px;
}

.fs-55 {
  font-size: 55px;
}

.pic {
  margin: 25px;
}

.color-text {
  background: linear-gradient(45deg, rgba(100,218,255,1) 40%, rgba(9,179,255,1) 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.rows {
  display: flex;
  flex-direction: row;
}

.st-row, .nd-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  margin-bottom: 0;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email-pass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart, .chart-container, .main, .charts, .selection-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.charts {
  margin-top: 50px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

.charts-flex {
  margin-top: 50px;
  /* background-color: white; */
  padding: 30px;
  border-radius: 20px;
}

.chart {
  margin-top: 50px;
}

.main {
  margin-top: 4rem;
}

.chart-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.chart-component-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
}


.round-btn {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  margin: 0.15rem;
}

.plus {
  background: #00cf1c;
}

.minus {
  background: #ff0000;
}

.xbtn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 7px !important;
  margin-bottom: 2rem;
}

.chart-buttons {
  margin-left: 30px;
  width: 70px;
}

.chart-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

.label-container {
  margin-bottom: 20px;
}

.chart-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  display: flex;
  flex-direction: row;
}

.small-logo {
  width: 35px;
  height: 35px;
}

.chart-title {
  padding: 20px;
}

.chart-datasets {
  padding-bottom: 20px;
}

.button {
  margin-bottom: 2rem;
}

.chart-selection {
  margin-top: 1rem;
  outline: none;
  width: 7.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid #838383;
}

.color-input {
  margin-left: 0.5rem;
  border: none;
  outline: none;
  background: white;
  height: 2.2rem;
  width: 2.2rem;
}

.chart-input {
  margin: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #5a5a5a;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-profile-pic {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 70px;
  margin: 0px;
  padding: 0px;
}

.profile-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  padding: 0 10px 0 10px !important; 
  border-radius: 20px !important;
  transition: all 0.2s ease-out;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: rgba(255,255,255,.5);
  transition: all 0.4s ease-out;
}

.bg {
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.2s ease-out;
}

.bg:hover {
  background-color: #5a5a5a96;
  transition: all 0.2s ease-in;
}

.item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px !important;
}

.big {
  font-size: 22px;
  margin: 0 10px 0 10px;
}

.dropdown-menu {
  top: 30px !important;
  left: -140px !important;
  background-color: #343a40 !important;
}

.dropdown-divider {
  border-top: 1px solid #99999985 !important;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-link:hover {
  background-color: #6b6b6b86;
  transition: all 0.2s ease-in;
}

.profile-link > p {
  margin: 0 !important;
  text-decoration: none !important;
}

.error-message {
  font-size: 15px;
  color: #ff0000;
  font-weight: bold;
}

label {
  cursor: pointer;
  margin: 0px !important;
}

#file_input {
  opacity: 0;
  position: absolute;
  z-index: -1;

}

.welcome-p {
  margin-top: 30px;
}

.fa-Icon {
  color: #fff;
  display: flex;
  align-items: center;
}

.fa-Icon:hover {
  color: #000;
}

.text {
  color: #000;
  padding-right: 10px;
  margin: 0;
}

.edit-icon {
  cursor: pointer;
}

.changes-btn {
  margin-left: 10px !important;
  font-size: 15px !important;
}

.profile-pic-settings {
  background-color: #343a40;
  width: 20rem;
  padding: 0.75rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

.myBtn {
  width: 8.5rem !important;
}

.setting {
  font-size: 16px;
  border-radius: 0.35rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.setting:hover {
  background-color: #8585855e;
}

.setting > p, .setting > label > p {
  margin-bottom: 0px !important;
  padding: 0.25rem;
}

@media screen and (max-width: 767px) {
  html, body {
    font-size: 10px;
  }

  .nav-link {
    font-size: 13px;
  }

  .fs-55 {
    font-size: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right {
    float: left;
    text-align: left;
  }

  .pic {
    margin: 25px;
    width: 15rem;
    height: 15rem;
    float: right;
  }

  .userCard {
    margin-top: 5rem;
    font-size: 18px;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.43);
    background-color: #fff;
  }
  
  .color-card {
    background-color: #343a40;
    width: 100%;
    height: 25rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px
  }

  .profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: unset;
    bottom: 60px;
  }

  .profile-wrapper p {
    text-align: center;
  }

  .btn {
    width: 14rem;
    height: 4rem;
    font-size: 1.2rem !important;
  }

  .xbtn {
    font-size: 20px !important;
    width: 4rem;
    height: 4rem;
  }

  .main {
    font-size: 20px;
    text-align: center;
  }

  .chart-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
  }

  .chart-input {
    font-size: 15px;
    margin: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #5a5a5a;
    width: 12rem;
  }

  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .chart-buttons {
    margin-left: 10px;
    width: 80px;
  }

  .chart-type {
    width: 300px !important;
    height: 300px !important;
  }

  .charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
  }

}

@media screen and (max-width: 735px) {
  .userCard {
    margin-top: 17.5rem;
  }
}

@media screen and (max-width: 666px) {
  .userCard {
    margin-top: 30rem;
  } 

  .chart-form {
    width: 100%;
    padding: 3rem;
    border-radius: 30px;
  }
}

/* CHAT COMPONENT CSS */

.chat-page {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow: auto;
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}

.chat-textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  line-height: 20px;
}

.chat-button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: #e3e7f1;
  font-size: 17px;
}

.chat-form {
  width: 400px;
}

.chat-Row {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.chat-userRow {
  justify-content: flex-end;
  
}

.chat-partnerRow {
  justify-content: flex-start;
}

.chat-userMessage {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  padding: 5px;
  margin-right: 5px;
  text-align: right;
}

.chat-partnerMessage {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  padding: 5px;
  margin-left: 5px;
  text-align: left;
}

.chat-message {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #212529;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1.25rem;
}

.chat-messagePartner {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #c0c0c0;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 1.25rem;
}

.chat-sender {
  margin-bottom: 0 !important;
  background-color: none !important;
}

.chat-senderRight {
  float: right;
}

.chat-senderLeft {
  float: left;
}