* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  overflow: hidden;
}

body,html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: url('./imgs/background.png');
  background-size: cover;
}

.form {
  height: 60%;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item {
  border: 1px solid rgb(48, 48, 48);
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.20);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.63);
}

.input {
  width: 200px;
  height: 25px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.check-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}

.check-area > p {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  width: 150px;
  margin: 20px;
  font-size: 15px;
  border-radius: 20px;
  outline: none;
  border: 1px solid gray;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.email {
  margin-bottom: 10px;
}

.email > p {
  border-bottom: 1px solid gray;
  width: 30%;
}

.email > input {
  margin-top: 10px;
}

.pass {
  margin-top: 10px;
}

.pass > p {
  border-bottom: 1px solid gray;
  width: 50%;
}

.pass > input {
  margin-top: 20px;
}

.check-area > p {
  margin: 0;
}

.btn:hover {
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: white;
}

.login > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  text-shadow: 0px 0px 20px #000;
}

.logo-text {
  font-family: 'Open sans', sans-serif;
  font-size: 40px;
  padding: 15px;
  color: white;
  text-shadow: 0px 0px 20px #000;
}